{% extends 'base.html' %} {% load static %} {% block content %}
<section class="food_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Our Menu</h2>
    </div>

    <ul class="filters_menu">
      <li class="active" data-filter="*">All</li>
      {% for category in categories %}
      <li data-filter=".{{ category.slug }}">{{ category.name }}</li>
      {% endfor %}
    </ul>
    <div class="filters-content">
      <div class="row grid">
        {% for list_menu in list_menus %}
        <div class="col-sm-6 col-lg-4 all {{ list_menu.category.slug }}">
          <div class="box">
            <div>
              <a
                href="{% url 'menu:menu_detail' menu_slug=list_menu.slug %}"
                class="menu-item-link"
              >
                <div class="img-box">
                  <img
                    src="{{ list_menu.image.url }}"
                    alt="{{ list_menu.name }}"
                  />
                </div>
              </a>
              <div class="detail-box">
                <h5>{{ list_menu.name }}</h5>
                <p>{{ list_menu.description }}</p>
                <div class="options">
                  <h6>Rp {{ list_menu.price|floatformat:0 }}</h6>
                  <a href="">
                    <img
                      src="{% static 'images/icons/hood.png' %}"
                      alt="cart"
                      class="social-icon"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="btn-box">
      <a href=""> View More </a>
    </div>
  </div>
</section>
{% endblock content %}
